<p>
  This is question
</p>

<div>Question No.: {{nextQuestion?.id}}</div>
<div>Question: {{nextQuestion?.text}}</div>
<p>Options</p>
<select>
  <option *ngFor="let num of nextQuestion?.options" [value]="num.id">{{num.text}}</option>
</select>